.mainContainerNavbar {
  height: 10vh;
  width: 100%;
  background: linear-gradient(to right, #213fc4, #684dc3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imageContainerNavbar {
  height: 100%;
  width: 20%;
}
.logoNavbar {
  height: 100%;
  width: 180px;
}
.navbarContent {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  cursor: pointer;
}
.navbarOuter {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 312px) and (max-width: 1000px) {
  .imageContainerNavbar {
    display: none;
  }
  .navbarOuter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 3px solid black;
  }
}
